.wrapper {
    display: flex;
    flex-direction: row;
    &__time {
        list-style-type: none;
        padding: 0;
        margin: 0;
        >li {
            padding: 10px 15px;
            outline: 1px solid #c2c2c2;
        }
    }
    &__sectors {
        flex: 1;
        position: relative  ;
    }
    &__sector {
      padding: 10px 15px;
      outline: 1px solid #c2c2c2;
      &:hover {
          background-color: #cccae6;
      }
    }
}
