/* You can add global styles to this file, and also import other style files */

body {
  font-family: sans-serif;
  font-size: 14px;
}

schedule-slot {
  display: flex;
  justify-content: flex-start;
  border: solid 1px #e4e4e4;
  border-bottom: none;
}

schedule-slot:last-of-type {
  border-bottom: solid 1px #e4e4e4;
}

schedule-slot:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

schedule-slot > .time {
  flex: 1 1 20%;
  padding: 10px 15px;
}

schedule-slot > .description {
  flex: 1 2 80%;
  padding: 10px 15px;
}

schedule-slot > .description.reserved {
  background-color: #c2c2c2;
}
